.logo-image {
    
}

.portrait1{
    height: 150px;
    width: 100px;
}


.portrait2{
    height: 250px;
    width: 500px;
}
.portfolio--image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}