/* All */
a {
    text-decoration: none;
}

.container-fluid {
    box-sizing: border-box;
}

.heading {
    color: black;
}

/* ===================================================================// home //=========================================================== */
.home {
    text-align: center;
    height: 100vh;
    width: 100vw;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

h1 {
    font-size: 6rem;
    position: relative;
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;

}

.home h1 {
    top: 30vh;
}

.home p,
.home-button {
    color: white;
    position: relative;
    top: 30vh;
}

.home-button {
    border: 1px solid rgba(128, 128, 128, .5);
    border-radius: 10px;
    width: 10rem;
    margin: auto;
    background-color: rgba(128, 128, 128, .5);
    width: 15rem;
    height: 3rem;
    text-align: center;
    padding-top: .5rem;
}

.home-button:hover {
    background-color: rgba(190, 166, 32, 0.555);
}

/* ===================================================================// about //=========================================================== */


.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-size: cover;

}


.about p {
    color: black;
    text-align: center;
}

.card {
    width: 25rem;
    top: 5rem;
    background: transparent;
    border: transparent;
    margin-left: 5rem;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.tag {
    height: 10rem;
    width: 20rem;
    flex: 0 1 auto;
    align-self: auto;
    text-align: center;
}

.tag-img-top {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.tag h4:hover {
    color: gold;
}

.card h5 {
    text-align: center;
}

#bio-pic {
    border-radius: 50%;
    margin: auto;
}

#bio-card {
    margin-left: 15rem;
}

#bio-button {
    width: 60%;
    margin-left: 25%;
}

.card-img-top {
    height: 20rem;
    width: 20rem;
}

#skill-card {
    margin-left: 25rem;
    text-transform: uppercase;

}


/* uses bootstrap breakpoints as a start point */

@media only screen and (max-width: 992px) {

    .card {
        top: 5rem;
    }

    .card-img-top {
        height: 10rem;
        width: 10rem;
        margin: auto;
    }

    #skill-card {
        align-items: center;
        margin-left: 5rem;
    }

    #bio-card {
        margin-left: 3rem;
    }


}

@media only screen and (max-width: 768px) {

    .tag {
        height: 5rem;
        width: 10rem;
    }

    .tag p {
        display: none;
    }

    .tag-img-top {
        height: 4rem;
        width: 4rem;
    }

    .card-img-top {
        display: none;
    }

    .card {
        top: 10rem;
    }

    #skill-card,
    #bio-card {
        border: 1px solid black;
        font-size: smaller;
        padding: 0;
        margin-left: 5rem;
        width: 18rem;
    }

    #skill-card {
        margin-left: 8rem;
    }

    #bio-button {
        width: 100%;
        margin: auto;
    }



    .heading {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 576px) {

    #skill-card,
    #bio-card {
        width: 15rem;
        margin-left: 0;
    }

    #skill-card {
        margin-left: .5rem;
    }

    .card {
        top: 5rem;
    }

    #bio-button {
        width: 90%;
        margin: 10px;
    }

    .heading {
        font-size: 3rem;
        color: black;
    }

    .card-body {
        padding: 0;
    }

    .tag h4 {
        font-size: smaller;
    }

    /* this is for Galaxy A51/71 */
    @media only screen and (max-width: 412px) {

        #skill-card,
        #bio-card {
            width: 11rem;
            padding: 0;
            align-items: stretch;
        }

        #skill-card {
            margin-left: 3px;
        }
    }

    @media only screen and (max-width: 360px) {
        #skill-card {
            margin: auto;
        }
    }

    /* this is for the galaxy fold */
    @media only screen and (max-width: 280px) {

        #skill-card,
        #bio-card {
            display: none;
        }
    }
}

/* portfolio */

.portfolio {
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/media/images/iphone-smartphone-mac-mobile-apple-technology-710553-pxhere.com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.project-selector {
    background-color: pink;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1rem;
    margin: 2rem;
    width: 15rem;
    padding: 0;
}

#portfolio-paragraph {
    margin-left: 40%;
}

.project-box {
    background-color: rgb(230, 240, 236);
    height: 75vh;
    margin: 5rem;
    overflow: scroll;
}

.project-box-project {
    height: 20vh;
    border: 1px solid black;
}

.project {
    background-size: contain;
    width: 100%;
    color: white;
}

#project-1 {
    background-image: url(/assets/media/images/dice.jpg);
}

#project-2 {
    background-image: url(/assets/media/images/money-tree.jpg);
    filter: grayscale(30%);
}

#project-3 {
    background-image: url(/assets/media/images/canteras6.jpg);
}

#project-4 {
    background-image: url(/assets/media/images/burger1.jpg);
}

.project p {
    border: 1px solid rgb(231, 224, 224);
    background-color: rgba(24, 29, 29, 0.466);
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
}

.project .card{
    position: relative;
    top: 0;
}

.project .card h5{
    text-align: left;
}

#project-2 .card-title, #project-3 .card-title{
    background-color: rgba(51, 70, 70, 0.199);
        color: aliceblue;
}

.project ul {
    background-color: rgba(24, 29, 29, 0.192);
}

@media only screen and (max-width: 992px){
    #portfolio-paragraph {
        margin-left: 30%;
    }  

    .project{
        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
    #portfolio-paragraph {
        margin-left: 25%;
    } 

    .project p, .project ul {
        display: none;
    }

    .project .card h5{
        text-align: left;
        margin-left: -3rem;
    }
    
}

@media only screen and (max-width: 576px) {
    #portfolio-paragraph {
        margin-left: 20%;
    } 
 
    

}




/* blog */
.blog {
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/media/images/notebook-table-book-leather-pen-journal-1249-pxhere.com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* contact */

.contact {
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/media/images/hand-light-finger-phone-lighting-close-up-912311-pxhere.com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}