*,
*::before,
*::after {
    box-sizing: border-box;
}


/*custom base properties*/
:root {

    /*font*/
    --ff--primary: 'Source Sans Pro', sans-serif;
    --ff--secondary: 'Source Code Pro', monospace;


    /*font-weight*/
    --fw-regular: 300;
    --fw-bold: 900;

    /*font sizings*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /*colours*/
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --boxshadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

}



/*images*/

img {
    display: block;
    max-width: 100%;
}

.logo-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.portrait1 {
    height: 250px;
    width: 100vw;
    box-shadow: var(--boxshadow);
}

.portrait2 {
    height: 250px;
    width: 500px;
}


.portfolio--image {
    height: 70%;
    width: 70%;
    transition: transform 750ms cubic-bezier(.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio--image:hover{
    transform: scale(1.2);
    opacity: 0.5;
}

/*general styles */
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff--primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/*Typography*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section--title {
    margin-bottom: 0.25em;
}

.section--subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section--subtitle--intro,
.section--subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff--secondary);
    margin-bottom: 1em;
}

.section--title--intro {
    font-weight: var(--fw-regular);
    display: inline-block;
}

strong {
    font-weight: var(--fw-bold);
}

.section--title--intro strong {
    display: block;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 20%;
    height: 3rem;
    text-align: center;
}

.btn:hover {
    transform: scale(1.2);
}

/*intro*/

.intro {
    position: relative;
}


@media (min-width: 600px) {

    /*change intro*/
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .portrait1 {
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section--subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2em;
        padding-left: 1rem;
        width: calc(100% + 1.5em);
    }
}

@media (min-width: 800px) {

    /*makes font sizes bigger on bigger viewports*/
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*my services/competencies section */


.my-services {
    background-color: var(--clr-dark);
    background-image: url(../assets/media/coding-tunnel.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.my-services ul {
    display: inline-block;
}

.section--title--services {
    color: var(--clr-accent);
    position: relative;
}

.section--title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    background: var(--clr-light);
    opacity: .334;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {

    /*creating grid*/
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service+.service {
        margin-left: 3em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me-image {
    box-shadow: var(--boxshadow);
}

@media (min-width: 600px) {


    .portfolio--image {
        height: 300px;
        width: 350px;
        transition: transform 750ms cubic-bezier(.5, 0, 0.5, 1), opacity 250ms linear;
    }
    .about--me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .about-me-image {
        grid-row: 1 /-1;
        grid-column: 2;
        grid-area: img;
        border: black;
        position: relative;

    }

    .section--title--about {
        grid-area: title;
    }

    .section--subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
}

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section--subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio--item {
    background: var(--clr-dark);
    overflow: hidden;
}

.portfolio--item:focus{
    position: relative;
    z-index: 2;
}

/* Footer */

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em;
    font-size: var(--fs-h3);
}  

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer--link:hover,
.social-list-link:hover{
    opacity: .6;
}

.footer--link:hover{
    text-decoration: underline;
}

.footer--link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: -2em;
    margin-bottom: -2em;;
}

.social-list-link{
    padding: .5em;
}